.d-flex{
    // margin-left: 930px;
    margin: auto;
}
.card{
    // transform: (1.5);
    transition: transform .2s;
}
.card:hover{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
    
}
input{
    height: 50px;
}
input[type='submit']{
    width: 150px;
}

.search{
    // height: 60px;
    // background-color: aqua;
    // width: 85%;
    margin: auto;
    padding-top: 150px;
    background: url('~/src/assets/home8.jpg');
    width: auto;
    height: 50vh;
    // height: 100%;
    background-position: center;
    background-size: cover;
}