<div class="background">
    <span>&nbsp;</span>
    <div class="container py-3">
        <div class="px-3">
            <h1 class="text-center">Contact Us</h1>
            <!-- <h5>Address:</h5>
            <p style="font-style: italic;">Gearheads Vehicle Service Pvt. Ltd., Saltlake Sector V, Sen IT Park, Kolkata
                - 700091.</p> -->
            <!-- <h5>Phone:</h5>
            <p>(033) 64172320</p>
            <h5>Email:</h5>
            <p>contact@gearheads.com</p> -->
        </div>
        <!-- <h5 class="text-center">Other Communication:</h5>
          <h5><i class="bi bi-facebook" style="color: rgb(38, 38, 217);"> Facebook </i><br></h5>
          <p>facebook.com/gear.heads.5602728</p>
          <h5><i class="bi bi-whatsapp" style="color: rgb(50, 211, 50);"> Whatsapp </i><br></h5>
          <p>8697683646</p>
          <h5><i class="bi bi-instagram" style="color: rgb(235, 2, 118);"> Instagram </i><br></h5>
          <p>@gearheadzzzzzz</p>
          <h5><i class="bi bi-twitter" style="color: rgb(48, 180, 232);"> Twitter </i><br></h5>
          <p>twitter.com/gear.heads.5602728 <span style="color: blue;">(Gear Heads)</span></p>
          <h5><i class="bi bi-youtube" style="color: rgb(221, 16, 16);"> Youtube </i><br></h5>
          <p>youtube.com/@gearheads</p> -->
        <div class="row px-3">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <h5>Address:</h5>
            <p style="font-style: italic;">Gearheads Vehicle Service Pvt. Ltd., Saltlake Sector V, Sen IT Park, Kolkata
                - 700091.</p>
                <h5>Phone:</h5>
            <p>(033) 64172320</p>
            <h5>Email:</h5>
            <p>contact@gearheads.com</p>
                <div class="card" style="border-style: none;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Other Communication:</h5>
                        <div class="row py-3">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <h5><i class="bi bi-facebook" style="color: rgb(38, 38, 217);"> Facebook </i><br></h5>
                            </div>
                            <div class="col-sm-6">
                                <h5><i class="bi bi-whatsapp" style="color: rgb(50, 211, 50);"> Whatsapp </i><br></h5>
                            </div>
                        </div>&nbsp;
                        <div class="row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <h5><i class="bi bi-instagram" style="color: rgb(235, 2, 118);"> Instagram </i><br></h5>
                            </div>
                            <div class="col-sm-6">
                                <h5><i class="bi bi-twitter" style="color: rgb(48, 180, 232);"> Twitter </i><br></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="background-color: rgb(240, 221, 195);">
                    <div class="card-body">
                        <h2 class="card-title text-center">Share your details with us</h2>
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Name</label>
                                <input type="text" class="form-control" id="exampleInputEmail1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Contact Number</label>
                                <input type="text" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Email</label>
                                <input type="email" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Address</label>
                                <input type="text" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="d-grid gap-2 col-4 mx-auto">
                                <button class="btn btn-danger" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span>&nbsp;</span>
</div>