<!-- <p>about works!</p> -->
<div class="aboutBanner">
    <div class="heading container">
        <h1>Our <span>Mission</span> is to bring <span>joy</span> and <span>delight</span> to the process of bike & car buying in India</h1>
    </div>
</div>
<div class="container py-3">
    <h4>About Us</h4>
    <p>Part of Car & Bike Trade Tech, Gearheads's mission is to bring delight in two-wheeler & four-wheeler buying, we
        offer a bouquet of reliable tools and services to help motorcycle and car consumers decide on buying the right
        two-wheeler and four-wheeler, at the right price and from the right partner.</p>
</div>
<div class="container py-3">
    <h4>Our Sales</h4>
    <div class="row">
        <div class="d-flex text-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 bg-info py-4">
                <h5><i class="bi bi-people-fill"></i> 50 Million</h5>
                <p>Customers visited</p>
            </div>
            <span>&nbsp;</span>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 bg-info py-4">
                <h5><i class="bi bi-car-front-fill"></i> 500+</h5>
                <p>Vehicle Listed</p>
            </div>
        </div>
    </div>
</div>
<!-- 
    <div class="container py-3">
    <h4>Our Sales</h4>
    <div class="container-fluid" style="width: 65%;">

        <div class="row">
                <div class="d-flex text-center">
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12" style="background-color: skyblue;">
                        <h5 class="py-2"><i class="bi bi-people-fill"></i> 50 Million</h5>
                    <p>Customers visited</p>
                    </div><span>&nbsp;</span>
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12" style="background-color: skyblue;">
                        <h5 class="py-2"><i class="bi bi-car-front-fill"></i> 500+</h5>
                    <p>Vehicle Listed</p>
                    </div>
                </div>
          </div>
  </div>
</div>
 -->
<div class="container py-3">
    <h4>Our Groups</h4>
    <div class="img">
        <img src="assets/association1.jpg" class="img-fluid" width="250px" alt="">
        <img src="assets/association2.jpg" class="img-fluid" width="250px" alt="">
        <img src="assets/association3.jpg" class="img-fluid" width="250px" alt="">
        <img src="assets/association4.jpg" class="img-fluid" width="250px" alt="">
    </div>
</div>
<div class="container py-3">
    <h4>Our Sales</h4>
    <div class="row">
        <div class="d-flex text-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 bg-info py-4">
                <h5><i class="bi bi-hand-thumbs-up"></i> RESPECT</h5>
                <p>We respect our colleagues, customers and partners</p>
            </div>
            <span>&nbsp;</span>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 py-4" style="background-color: pink;">
                <h5><i class="bi bi-speedometer2"></i> AGILITY</h5>
                <p>We are extremely open-minded and adaptable</p>
            </div>
        </div>
        <div class="d-flex text-center py-1">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 py-4" style="background-color: pink;">
                <h5><i class="bi bi-bank"></i> OWNERSHIP</h5>
                <p>We take ownership of results</p>
            </div>
            <span>&nbsp;</span>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 bg-info py-4">
                <h5><i class="bi bi-bounding-box"></i> WE BEFORE I</h5>
                <p>We always put our company ahead of ourselves</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h4>Our Sales Rate</h4>
    <div class="image">
        <img src="assets/Untitled design.jpg" height="500px" width="500px" class="img-fluid" alt="">
    </div>
</div>