.modal-title{
    margin: auto auto auto 115px;
    font-size: 60px;
}
.modal-footer{
    input{
        margin: auto auto 50px auto;
    }
    p{
        margin: auto auto 50px auto;
    }
    a{
        color: rgb(76, 76, 247);
    }
    a:hover{
        color: rgb(76, 76, 247);
        cursor: pointer;
    }
}
form{
    margin: auto 50px auto 50px;
}