<div>
    <div class="vehicleBanner">
        <div class="heading container">
            <h1>Vehicle Category</h1>
        </div>
    </div>
    <div class="container py-5">

        <ng-container *ngFor="let v of vehicle">
            <div class="row">
                <ng-container *ngIf="v.id%2!==0;else elseblock">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
                        <a routerLink="products/{{v.vehicle_id}}">
                            <img src="{{v.vehicleImg}}" class="img-fluid" alt="{{v.vehicle_name}}">
                        </a>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 ps-5 py-5">
                        <h2>{{v.vehicle_name}}</h2>
                        <p>{{v.desc1}}</p>
                        <p>{{v.desc2}}</p>
                        <a routerLink="products/{{v.vehicle_id}}" class="btn btn-outline-primary">
                            View Categories
                        </a>

                    </div>
                </ng-container>
                <ng-template #elseblock>
                    <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 pe-5 py-5">
                        <h2>{{v.vehicle_name}}</h2>
                        <p>{{v.desc1}}</p>
                        <p>{{v.desc2}}</p>
                        <a routerLink="products/{{v.vehicle_id}}" class="btn btn-outline-primary">
                            View Categories
                        </a>

                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
                        <a routerLink="products/{{v.vehicle_id}}">
                            <img src="{{v.vehicleImg}}" class="img-fluid" alt="{{v.vehicle_name}}">
                        </a>
                    </div>
                </ng-template>
            </div>
        </ng-container>
    </div>