<div class="background">
    <span>&nbsp;</span>
    <div class="container py-3">
        <div class="px-3">
            <h3 class="text-center">Terms & Conditions</h3>
            <ul>
                <li style="font-size: small;">All listings may go through a review process and the approval of a listing will be at the discretion of Gearheads. Prospective buyers will see images after they are approved. Rest of the details will be visible instantly after Ad goes live.</li>&nbsp;
                <li style="font-size: small;">An individual user can list only two vehicles as part of the free listings. If user wants to upload third vehicle, he will have to delete one of the existing live vehicles from Gearheads.</li>&nbsp;
                <li style="font-size: small;">As a Seller you certify that all information provided by you against your listed vehicle is true.</li>&nbsp;
                <li style="font-size: small;">Seller is alone responsible for completing and verification of the documentation part, before concluding the sale. Any sale concluded on the part of the Seller, shall be the sole responsibility of the Seller.</li>
            </ul>
            <h5 class="px-3">Please note:</h5>
            <ul>
                <li style="font-size: small;">Free listing plan is brought to you by Gearheads and is open only to individuals or private party sellers who list their vehicle for sale on Gearheads. Dealers, brokers or those individuals who trade in vehicles are not eligible.</li>&nbsp;
                <li style="font-size: small;">Seller is alone responsible for completing and verification of the documentation part, before concluding the sale. Any sale concluded on the part of the Seller, shall be the sole responsibility of the Seller.</li>&nbsp;
                <li style="font-size: small;">You authorise Gearheads to call or SMS you in connection with your vehicle Advertisement.</li>&nbsp;
                <li style="font-size: small;">Gearheads reserves the right to withdraw and/or alter any or all of the terms and conditions of the plan at any time without prior notice.</li>&nbsp;
                <li style="font-size: small;">Any dispute arising out of or in connection with this scheme shall be subject to the exclusive jurisdiction of the courts in Mumbai only. The existence of a dispute, if any, shall not constitute a claim against Gearheads.</li>&nbsp;
                <li style="font-size: small;">Any individual, who lists his/ her vehicle on Gearheads availing the plan, accepts the Terms and Conditions specified above in total.</li>&nbsp;
                <li style="font-size: small;">User will not abuse or misuse the website or engage in any activity which violates the terms of this Agreement. In any such case, Gearheads may suspend user account or permanently debar him/her from accessing the Website.</li>
            </ul>
        </div>
    </div>
    <span>&nbsp;</span>
</div>
